@inherits LayoutComponentBase
@inject IAppSettings settings
<div class="app-body">
    <h1 class="archive-header">@settings.Title - Archive</h1>
    @Body
</div>
<div class="footer">
    <a href="/">Go to the main</a>
</div>
<link rel="stylesheet" href="/css/archive.css" />
