.archive-header {
    background-color: #e0d0ea;
    padding: 0.6rem 0.8rem;
    border-left: 10px solid #7385df;
}

.footer a {
    color:#392a71;
}
    .footer a:hover {
        color:#bd2180;
    }

