@inherits LayoutComponentBase
@inject IAppSettings appSettings

<div class="app-layout">
	<div class="app-body">
		<h1>@appSettings.Title</h1>
		@Body
	</div>
	@if(appSettings.StartYear != DateTime.Today.Year)
	{
		<div class="footer">
			<a href="/archive">Go to the archive</a>
		</div>
	}
</div>
