@page "/archive/{Year:int}"
@layout ArchiveLayout
@inject NavigationManager nav
@inject joulukalenteri.Client.SharedCode.ArchiveReader reader
@inject joulukalenteri.Shared.IDateTime datetime

<div class=" wrapper">
    @if (Year < datetime.Now.Year)
    {
        <h1>Archive @Year</h1>
        <div class="content-wrapper">
            <ul>
                @for (int day = 1; day < 26; day++)
                {
                    <li><a href="/archive/@Year/@day">Day @day</a></li>
                }
            </ul>
        </div>
    }
    else
    {
        <p>Only the day before this year is available.</p>
    }
</div>

@code{
    [Parameter]
    public int Year { get; set; }
}
