@page "/archive/{Year:int}"
@layout ArchiveLayout
@inject AdventCalendar.Services.ArchiveReader reader
@inject IDateTime datetime
@inject IAppSettings appSettings

    @if (reader.IsAvailableYear(Year))
    {
        <h1>Archive @Year</h1>
        <div class="content-wrapper">
            <ul>
                @for (int day = 1; day <= appSettings.Days; day++)
                {
                    <li><a href="/archive/@Year/@day">Day @day</a></li>
                }
            </ul>
        </div>
    }
    else
    {
        <p>This year is not available.</p>
    }
    <a href="/archive/" class="archive-back">Back to the list</a>

@code{
    [Parameter]
    public int Year { get; set; }
}
