@page "/archive/{Year:int}/{Day:int}"
@inject joulukalenteri.Client.SharedCode.Validator validator
@inject joulukalenteri.Client.SharedCode.DayReader reader
@inject NavigationManager nav
@layout ArchiveLayout
@using joulukalenteri.Shared
@*
    Example for custom layout!
**@

<div class="wrapper">
    <h1>Christmas calendar @Year</h1>
    <div class="day-wrapper">
        @if (validator.IsOpenToday(Day))
        {
            if (Content != null)
            {
                <h2 class="day-header">@Title</h2>
                <div class="day-content">
                    @((MarkupString)Content)
                    <br />
                    <a class="linkbtn" href="/archive/@Year">Back to the archive</a>
                </div>

            }
            else
            {
                <p>Loading...</p>
            }
        }
        else
        {
            <p>Wrong day detected!</p>
        }
    </div>
</div>
@functions{
    [Parameter]
    public int Year { get; set; }
    [Parameter]
    public int Day { get; set; }
    string Title;
    string Content;
    protected override async Task OnInitializedAsync()
    {
        DayInfoData data = await reader.GetContent(Year, Day, nav.BaseUri);
        Title = data.Title;
        Content = data.Content;
    }
}
