@page "/archive"
@layout ArchiveLayout
@inject AdventCalendar.Services.ArchiveReader reader
@using System.Collections.Generic
    @if (years != null)
    {
            <h1>Archive</h1>
            <div class="content-wrapper">
                <ul>
                    @foreach (int year in years)
                    {
                        <li><a href="/archive/@year">Year @year</a></li>
                    }
                </ul>
            </div>
    }
    else
    {
        <p>Loading...</p>
    }

@code{
    IEnumerable<int> years;
    protected override void OnInitialized()
    {
        years = reader.GetYears();
    }
}
