@import url("common.css");

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin:0; padding:0;
    overflow: auto; /* css is weird. really weird. */
}
body {
    background: url('../imgs/cshrap_blazor_nuget.svg') right bottom no-repeat fixed, url("../imgs/snowflakes.svg") repeat fixed, linear-gradient(#cd66af, #9faaff) fixed;
    background-size: 40%, auto auto, 100%;
    background-size: 40%;
}

h1 {
    font-size: 2.5rem;
    margin-top: 3.1rem;
    text-shadow: 0 0 3px #fff;
    color: #fff;
}
.wrapper {
    text-align: center;
}
.calendar-wrapper, .wrapper > h1 {
    font-family: serif;
}
.calendar {
    display: inline-grid;
    background-color: rgba(255,255,255,0.7);
}
.calendar:not(.calendar-eve) {
    grid-template-columns: repeat(5, 1fr);
}
.calendar-eve {
    grid-template-columns: repeat(6, 1fr);
}

    .calendar > div {
        box-sizing: border-box;
        border: 1px solid #999;
        font-size: 4.5rem;
        text-align:center;
        padding: .3em .5em;
    }

.calendar-open {
    background-color:rgba(255,255,255,0.3);
}

    .calendar-open:hover {
        background-color: rgba(250,125,125,0.3);
        cursor: pointer;
    }

.calendar-closed {
    color: #606060;
    background-color: rgba(105,105,105,0.5);
}
/* days.razor */
.day-wrapper {
    width: 80%;
    display: inline-block;
    border-radius: 1rem;
    overflow: auto;
}
.day-header {
    font-size: 1.8rem;
    background: rgba(114, 136, 96, 0.9);
    color: #fff;
    margin: 0;
    padding: .8rem 0 .6rem 0;
    border: 5px #bbb09087;
    border-style: solid none;
}

.day-content {
    background-color: #f7e7c9bf;
    padding: 1.5rem 1rem;
    font-size: 1.2rem;
}
/* dialog */
.modal-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#00000090;
    position:absolute;
    top:0;left:0;right:0;bottom:0;
}
.modal {
    padding:0.84rem 1.5rem;
    width:80%;
    max-width:50rem;
    background-color:#fff;
    color:#000;
    border-radius:3px;
}
    .modal h3 {
        margin: .64rem 0 .4rem 0;
        border-bottom: 1px solid #ccc;
        padding-bottom: .45rem;
        font-size: 1.3rem;
        font-weight: 500;
    }
    .modal:not(h3) {
        font-size:1.1rem;
    }
/* button */
.linkbtn {
    margin: 1.2rem .2rem .35rem .2rem;
    display: inline-block;
    border-radius: 10px;
    background: #2d3375;
    color: #fff;
    padding: .7rem .95rem;
    text-decoration: none;
}
    .linkbtn:hover {
        background-color: #863e98;
        cursor:pointer;
    }
.closebtn {
    background-color:#606060;
}
    .closebtn:hover {
        background-color: #909090;
    }

.footer {
    background-color: #2b1f6a96;
    color: #fff;
    font-size: 125%;
    font-family: Calibri, sans-serif;
}
    .footer a {
        color: #adf6f9;
    }
        .footer a:hover {
            color: #ffc9fe;
            background-color: #281d60;
        }


/* for mobile and vertical screen */
@media screen and (max-width:800px)
{
    .calendar {
        width:100%;
    }
    .calendar > div {
        font-size:2.5rem;
        padding: .3em .2em;
    }
    .day-wrapper {
        width: 100%;
        display:block;
    }
}
@media screen and (max-aspect-ratio:8/5) {
    body {
        background-size: 100%, auto auto, 100%;
    }
    .calendar-eve {
        grid-template-columns: repeat(4, 1fr);
    }
}
