@inject IModalService ModalService
@using joulukalenteri.Shared;

<div class="dialog-content">
        @(DayInfo?.Summary)
        <br />
    @if(DayInfo.Exists){
        <a class="linkbtn" href="/day/@(DayInfo?.Day)">See more</a>
    }
        <a class="linkbtn closebtn" @onclick="@(()=>BlazoredModal.Close(ModalResult.Cancel()))">Close</a>
</div>
@code {
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }
    [Parameter]
    public DayInfoData DayInfo { get; set; }
}
