@page "/day/{Day:int}"
@inject joulukalenteri.Client.SharedCode.Validator validator
@inject joulukalenteri.Client.SharedCode.DayReader reader
@inject NavigationManager nav
@using Markdig

<div class="wrapper">
    <h1>Christmas calendar</h1>
    <div class="day-wrapper">
        @if (validator.IsOpenToday(Day))
        {
            if (Content != null)
            {
                <h2 class="day-header">Day @Day : Content</h2>
                <div class="day-content">
                    <p>@Content</p>
                    Lorem ipsum dolor sit amet, this text is dummy.
                    <br />
                    <ul>
                        <li>Rose is red,</li>
                        <li>Violet is blue,</li>
                        <li>Baba is you,</li>
                        <li>Flag is win,</li>
                        <li>C# is love,</li>
                        <li>Unexpected }</li>
                        <li>On line 32.</li>
                    </ul>
                    <NavLink class="linkbtn" href="/">Back to the main</NavLink>
                </div>

            }
            else
            {
                <p>Loading...</p>
            }
        }
        else
        {
            <p>Wrong day detected!</p>
        }
    </div>
</div>
@functions{
    [Parameter]
    public int Day { get; set; }
    string Content;
    protected override async Task OnInitializedAsync()
    {
        Content = await reader.GetContent(Day, nav.BaseUri);
    }
    /*protected override void OnParametersSet() {
        if (!validator.IsOpenToday(Day)) {
        }
    }*/
    public int Test()
    {
        return Day;
    }
}
