@page "/day/{Day:int}"
@inject joulukalenteri.Client.SharedCode.Validator validator
@inject joulukalenteri.Client.SharedCode.DayReader reader
@inject NavigationManager nav
@using joulukalenteri.Shared
@using Markdig

<div class="wrapper">
    <h1>Christmas calendar</h1>
    <div class="day-wrapper">
        @if (validator.IsOpenToday(Day))
        {
            if (Content != null)
            {
                <h2 class="day-header">@Title</h2>
                <div class="day-content">
                    @((MarkupString)Content)
                    <br />
                    <NavLink class="linkbtn" href="/">Back to the main</NavLink>
                </div>

            }
            else
            {
                <p>Loading...</p>
            }
        }
        else
        {
            <p>Wrong day detected!</p>
        }
    </div>
</div>
@functions{
    [Parameter]
    public int Day { get; set; }
    string Title;
    string Content;
    protected override async Task OnInitializedAsync()
    {
        DayInfoData data = await reader.GetContent(Day, nav.BaseUri);
        Title = data.Title;
        Content = data.Content;
    }
    public int Test()
    {
        return Day;
    }
}
