@inject IModalService ModalService
@using joulukalenteri.Shared;

<div class="dialog-content">
        @(DayInfo.Summary)
        <br />
        <a class="linkbtn" href="/day/@(DayInfo.Day)">See more</a>
</div>
@code {
    [CascadingParameter]
    ModalParameters modalParams { get; set; }
    private DayInfoData DayInfo { get; set; }
    protected override void OnParametersSet()
    {
        DayInfo = modalParams.Get<DayInfoData>("DayInfo");
    }
}
