@page "/"
@inject joulukalenteri.Client.SharedCode.Validator validator
@inject joulukalenteri.Client.SharedCode.DayReader reader
@inject joulukalenteri.Client.SharedCode.DaysShuffler shuffler
@inject NavigationManager nav
@inject IModalService Modal
@inject joulukalenteri.Shared.IDateTime datetime
@using joulukalenteri.Shared
@*
    more abot blazor modal from here <3
    https://github.com/Blazored/Modal
*@


<div class="calendar-wrapper wrapper">
    <h1>Christmas Calendar️</h1>
    <div class="calendar">
        @{
            int[] shuffled = shuffler.ShuffleDays();
            for (int i = 0; i < 25; i++)
            {
                int dayValue = shuffled[i];
                if (validator.IsOpenToday(dayValue))
                {
                    <div class="calendar-open" @onclick="(async ()=>await OpenDialog(dayValue))">@dayValue</div>
                }
                else
                {
                    <div class="calendar-closed">@dayValue</div>
                }
            }
        }
    </div>
</div>
@functions{
        private async Task OpenDialog(int day)
        {
            DayInfoData data = await reader.GetContent(day, nav.BaseUri);
            ModalParameters modalParams = new ModalParameters();
            modalParams.Add("DayInfo", data);
            Modal.Show<DaysModal>($"Day {day}: {data.Title}", modalParams);
        }
}