@page "/"
@using AdventCalendar.ModalComponents 
@inject AdventCalendar.Client.Services.Validator validator
@inject AdventCalendar.Client.Services.DayReader reader
@inject AdventCalendar.Client.Services.DaysShuffler shuffler
@inject IDateTime datetime
@inject Microsoft.Extensions.Configuration.IConfiguration config
@inject AdventCalendar.Client.IAppSettings appSettings

<Modal @bind-DayInfo ="@dayInfo">
</Modal>
<div class="calendar-wrapper wrapper">
    <h1>@appSettings.Title</h1>
    <div class="calendar">
        @{
            int[] shuffled = shuffler.ShuffleDays();
            for (int i = 0; i < appSettings.Days; i++)
            {
                int dayValue = shuffled[i];
                if (validator.IsOpenToday(dayValue))
                {
                    <div class="calendar-open" @onclick="(async ()=>await OpenDialog(dayValue))">@dayValue</div>
                }
                else
                {
                    <div class="calendar-closed">@dayValue</div>
                }
            }
        }
    </div>
</div>
@code
{
    private DayInfoData dayInfo { get; set; }
    private async Task OpenDialog(int day)
    {
        dayInfo = await reader.GetContent(day);
    }
}