@page "/"
@inject joulukalenteri.Client.SharedCode.Validator validator
@inject IModalService Modal
@*
    more abot blazor modal from here <3
    https://github.com/Blazored/Modal
*@


<div class="calendar-wrapper wrapper">
    <h1>Christmas Calendar️</h1>
    <div class="calendar">
        @{
            int[] shuffled = ShuffleDays();
            for (int i = 0; i < 25; i++)
            {
                int dayValue = shuffled[i];
                if (validator.IsOpenToday(dayValue))
                {
                    <div class="calendar-open" @onclick="(()=>OpenDialog(dayValue))">@dayValue</div>
                }
                else
                {
                    <div class="calendar-closed">@dayValue</div>
                }
            }
        }
    </div>
</div>

@functions{
    public int[] ShuffleDays()
    {
        Random random = new Random(DateTime.Today.Year);
        int[] result = Enumerable.Range(1, 25).ToArray();
        for (int i = 0; i < 25; i++)
        {
            Swap(ref result[i], ref result[random.Next(i, 24)]);
        }
        return result;
    }

    private void Swap(ref int x, ref int y)
    {
        int temp = x;
        x = y;
        y = temp;
    }

    private void OpenDialog(int value)
    {
        ModalParameters modalParams = new ModalParameters();
        modalParams.Add("Day", value);
        Modal.Show<DaysModal>($"Day {value}", modalParams);
    }
}